
<div class="container-fluid">

<app-header></app-header>

<div class="row">
  <div class="col-md-12 text-center pg-title-img  ">
      <p class="pg-title">About Us</p>
   </div>
   </div>
   <div class="row text-center pt-md-5 ml-md-5">
    <div class="col-md-5 pl-md-5 cont-img1 zoom">
    </div>
    <div class="col-md-5  px-5">
       <p class="img-desc pt-5 text-lightblack">Welcome To The Most Secure Place !</p>
       <p class="text-lightblack pt-1"><b>OurKids</b> is a community of children, families and teachers committed to learning and growing through a process of research and discovery. We seek to strengthen our connection to resources in our world, including our community, neighborhood, city, and natural and found materials. Our hope is that during their time at Beginnings and beyond, children will deepen their love of learning, develop a thoughtful awareness of themselves and others, and have the confidence to pursue their passions.</p>
       <button class="shedule-btn ct-btn ">Contact Us</button>
    </div>
    <div class="col-md-2"></div>
 </div>


 <div class="row   py-md-5 text-center">
   <div class="col-md-12 mb-4 ">
      <p  class="img-desc pt-5   text-lightblack text-center">About the Teachers</p>
      <div class="sub-txt-techer">We have an excellent teacher to child ratio at our Kindergarten to ensure that each child receives the attention he or she needs</div>
   </div>
   <div class="col-md-2"></div>
   <div class="col-md-3 teacher-wrp px-md-3">
      <div class="teachers-social"><i class="fa fa-twitter ts-icon"></i><i class="fa fa-facebook ts-icon"></i><i class="fa fa-google ts-icon"></i><i class="fa fa-youtube ts-icon"></i></div>
      <div  class="teacher-profile tch4" ><div class="bg-cont"></div></div>
      <div class="teacher-wrp-info">
         <div class="act-txt pt-1 text-lightblack">Alice Bohm</div>
         <div   class="act-txt-sub text-lightblack ">Senior Educator-Staff</div>
      </div>
   </div>
   <div class="col-md-3 teacher-wrp px-md-3">
      <div class="teachers-social"><i class="fa fa-twitter ts-icon"></i><i class="fa fa-facebook ts-icon"></i><i class="fa fa-google ts-icon"></i><i class="fa fa-youtube ts-icon"></i></div>
      <div  class="teacher-profile tch5" ><div class="bg-cont"></div></div>
      <div class="teacher-wrp-info">
         <div class="act-txt text-lightblack">Alice Bohm</div>
         <div   class="act-txt-sub text-lightblack ">Music Teacher-Staff</div>
      </div>
   </div>
   <div class="col-md-3 teacher-wrp px-md-3">
      <div class="teachers-social"><i class="fa fa-twitter ts-icon"></i><i class="fa fa-facebook ts-icon"></i><i class="fa fa-google ts-icon"></i><i class="fa fa-youtube ts-icon"></i></div>
      <div  class="teacher-profile tch6" ><div class="bg-cont"></div></div>
      <div class="teacher-wrp-info">
         <div class="act-txt text-lightblack">Max Turner</div>
         <div   class="act-txt-sub text-lightblack ">Art Teacher-Staff</div>
      </div>
   </div>
   <div class="col-md-1"></div>
   <div class="col-md-12 text-center py-md-5">
      <button class="v-more">View More</button>
   </div>
</div>














 <div class="row text-center pt-md-5 ml-md-5">

  <div class="col-md-5  px-5">
     <p class="img-desc pt-5 text-lightblack">Our Mission for Kindergarten</p>
     <p class="text-lightblack pt-1">The Mission of <b>OurKids</b> Kindergarten is to provide a safe, loving, Christian environment in which the young child can be nurtured spiritually, emotionally, intellectually, socially, and physically. We pledge to work in partnership with the home and the church to meet the total needs of the child. We will strive to glorify Jesus before our students and their families as a witness to our community.</p>

  </div>
  <div class="col-md-5 pl-md-5 cont-img-info zoom">
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row text-center px-5 py-3 count-wrap1 text-light">
  <div class="col-md-2"> </div>
  <div class="col-md-2 pt-5">
     <img src="assets/images/icon_01.png" class="count-img">
     <hr class="border-x-short">
     <div class="count-info">450</div>
     <p class="sub-txt-count">CHILDREN A YEAR</p>
  </div>
  <div class="col-md-2 pt-5">
     <img src="assets/images/icon_02.png" class="count-img">
     <hr class="border-x-short">
     <div class="count-info">68</div>
     <p class="sub-txt-count">QUALIFIED TEACHERS</p>
  </div>
  <div class="col-md-2 pt-5">
     <img src="assets/images/icon_03.png" class="count-img">
     <hr class="border-x-short">
     <div class="count-info">349</div>
     <p class="sub-txt-count">ACTIVITIES A YEAR</p>
  </div>
  <div class="col-md-2 pt-5">
     <img src="assets/images/icon_04.png" class="count-img">
     <hr class="border-x-short">
     <div class="count-info">12</div>
     <p class="sub-txt-count">FROM TWELVE MONTHS</p>
  </div>
  <div class="col-md-2"> </div>
</div>






<app-footer></app-footer>
</div>
