<div class="container-fluid">


<app-header></app-header>



<div class="row mb-3">
    <div class="col-md-12 text-center pg-title-img  ">
        <p class="pg-title">From The Blog</p>
     </div>
</div>
<div class="row text-center pt-md-5 px-md-5">
  
    <div class="col-md-6 text-lightblack text-md-left pl-md-5">
       <img src="assets/images/ch4.jpg" class="blog_img">
       <div class="blog-txt1 py-2"><i class="fa fa-calendar"></i> January 6, 2018 <i class="fa fa-edit"></i>_cmsmasters</div>
       <div class="blog-txt2">Learn About Separation Tips</div>
       <div class="blog-txt1 pt-1 pb-2">Nursery, Psychology</div>
       <div class="blog-txt1 pt-2 pb-2">Separation Tips You and your child are about to have an amazing and fun journey with us, however, if this is your child's first school experience or...</div>
       <div class="lean-more-blog">Learn More</div>
    </div>
    <div class="col-md-6 text-lightblack text-md-left pr-md-5">
       <img src="assets/images/ch5.jpg" class="blog_img">
       <div class="blog-txt1 py-2"><i class="fa fa-calendar"></i> January 27, 2018<i class="fa fa-edit"></i>_cmsmasters</div>
       <div class="blog-txt2">Learn About Separation Tips</div>
       <div class="blog-txt1 pt-1 pb-2">Nursery, Psychology</div>
       <div class="blog-txt1 pt-2 pb-2">Separation Tips You and your child are about to have an amazing and fun journey with us, however, if this is your child's first school experience or...</div>
       <div class="lean-more-blog">Learn More</div>
    </div>
 </div>
 <hr class="border-cont">
 <div class="row text-center pt-md-5 px-md-5">
 
    <div class="col-md-6 text-lightblack text-md-left pl-md-5">
       <img src="assets/images/chb.jpg" class="blog_img">
       <div class="blog-txt1 py-2"><i class="fa fa-calendar"></i> January 6, 2018 <i class="fa fa-edit"></i>_cmsmasters</div>
       <div class="blog-txt2">Learn About Separation Tips</div>
       <div class="blog-txt1 pt-1 pb-2">Nursery, Psychology</div>
       <div class="blog-txt1 pt-2 pb-2">Separation Tips You and your child are about to have an amazing and fun journey with us, however, if this is your child's first school experience or...</div>
       <div class="lean-more-blog">Learn More</div>
    </div>
    <div class="col-md-6 text-lightblack text-md-left pr-md-5">
       <img src="assets/images/ch1.jpg" class="blog_img">
       <div class="blog-txt1 py-2"><i class="fa fa-calendar"></i> January 27, 2018<i class="fa fa-edit"></i>_cmsmasters</div>
       <div class="blog-txt2">Learn About Separation Tips</div>
       <div class="blog-txt1 pt-1 pb-2">Nursery, Psychology</div>
       <div class="blog-txt1 pt-2 pb-2">Separation Tips You and your child are about to have an amazing and fun journey with us, however, if this is your child's first school experience or...</div>
       <div class="lean-more-blog">Learn More</div>
    </div>
 </div>
 





<app-footer></app-footer>


</div>