<div class="container-fluid">
    <app-header></app-header>
    <div class="row">
        <div class="col-md-12 text-center pg-title-img  ">
            <p class="pg-title">Classroom</p>
         </div>

    <div class="row px-md-5 ">

       <div class="col-md-6 mt-2 ">
          <img class="tod-img" src="../../assets/images/class1.jpg">
       </div>
       <div class="col-md-6 text-center px-5 py-3">
          <p class="tod-main-txt text-lightblack pt-md-5">Young Toddlers</p>
          <p class="tod-age-txt">12 months - 23 months</p>
          <p class="tod-sub-txt text-lightblack px-md-5">Infant classroom offers strategies for building positive relationships, helping children develop self-regulation and responding to challenging behaviors in a sanitized and safe environment.</p>
       </div>
       <div class="col-md-6 acc-cont">
          <p class="tod-main-txt text-lightblack">Skills That You Will Learn</p>
          <div id="accordion">
             <div class="card">
                <div class="card-header">
                   <a class="card-link" data-toggle="collapse" href="#collapseOne">
                   Social Skills
                   </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                   <div class="card-body">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                   </div>
                </div>
             </div>
             <div class="card">
                <div class="card-header">
                   <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                   Self-Help Skills
                   </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                   <div class="card-body">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                   </div>
                </div>
             </div>
             <div class="card">
                <div class="card-header">
                   <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                   Communicative Skills
                   </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                   <div class="card-body">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="col-md-6">
          <img class="tod-img img-left" src="../../assets/images/class2.jpg">
       </div>
    </div>

     <div class="row px-md-5 ">

        <div class="col-md-6 ">
           <img class="tod-img" src="../../assets/images/class3.jpg">
        </div>
        <div class="col-md-6 text-center px-5 py-3">
           <p class="tod-main-txt text-lightblack"> Toddlers</p>
           <p class="tod-age-txt">2 years - 3 years</p>
           <p class="tod-sub-txt text-lightblack px-md-5">Infant classroom offers strategies for building positive relationships, helping children develop self-regulation and responding to challenging behaviors in a sanitized and safe environment.</p>
        </div>
        <div class="col-md-6 acc-cont">
           <p class="tod-main-txt text-lightblack">Skills That You Will Learn</p>
           <div id="accordion">
              <div class="card">
                 <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                    Social Skills
                    </a>
                 </div>
                 <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                 </div>
              </div>
              <div class="card">
                 <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    Self-Help Skills
                    </a>
                 </div>
                 <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                 </div>
              </div>
              <div class="card">
                 <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                    Communicative Skills
                    </a>
                 </div>
                 <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-md-6">
           <img class="tod-img img-left" src="../../assets/images/class4.jpg">
        </div>
     </div>
     <div class="row px-md-5 ">

        <div class="col-md-6 ">
           <img class="tod-img" src="../../assets/images/class5.jpg">
        </div>
        <div class="col-md-6 text-center px-5 py-3">
           <p class="tod-main-txt text-lightblack">Preschoolers</p>
           <p class="tod-age-txt">3 years - 4 years</p>
           <p class="tod-sub-txt text-lightblack px-md-5">Infant classroom offers strategies for building positive relationships, helping children develop self-regulation and responding to challenging behaviors in a sanitized and safe environment.</p>
        </div>
        <div class="col-md-6 acc-cont">
           <p class="tod-main-txt text-lightblack">Skills That You Will Learn</p>
           <div id="accordion">
              <div class="card">
                 <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                    Social Skills
                    </a>
                 </div>
                 <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                 </div>
              </div>
              <div class="card">
                 <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    Self-Help Skills
                    </a>
                 </div>
                 <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                 </div>
              </div>
              <div class="card">
                 <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                    Communicative Skills
                    </a>
                 </div>
                 <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-md-6">
           <img class="tod-img img-left" src="../../assets/images/class6.jpg">
        </div>
     </div>
     <div class="row px-md-5 ">

        <div class="col-md-6 ">
           <img class="tod-img" src="../../assets/images/class7.jpg">
        </div>
        <div class="col-md-6 text-center px-5 py-3">
           <p class="tod-main-txt text-lightblack">Pre-Kindergarteners</p>
           <p class="tod-age-txt">4 years - 5 years</p>
           <p class="tod-sub-txt text-lightblack px-md-5">Infant classroom offers strategies for building positive relationships, helping children develop self-regulation and responding to challenging behaviors in a sanitized and safe environment.</p>
        </div>
        <div class="col-md-6 acc-cont">
           <p class="tod-main-txt text-lightblack">Skills That You Will Learn</p>
           <div id="accordion">
              <div class="card">
                 <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                    Social Skills
                    </a>
                 </div>
                 <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                 </div>
              </div>
              <div class="card">
                 <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    Self-Help Skills
                    </a>
                 </div>
                 <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                 </div>
              </div>
              <div class="card">
                 <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                    Communicative Skills
                    </a>
                 </div>
                 <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-md-6">
           <img class="tod-img img-left" src="../../assets/images/ch1.jpg">
        </div>
     </div>
</div>
    <app-footer></app-footer>
 </div>
