

<div class="container-fluid">
    <app-header></app-header>

   <div class="row title-img d-flex justify-content-center align-content-start flex-column">
      <div class="p-2 f1 ml-3 pull-right">We bring up supermen!</div>
      <div class="p-2 f2 ml-3 pull-right">Give your kids the best possible start</div>
   </div>
   <div class="row text-center info-wrp">
      <div class="col-md-6 box-1 cl1">
         <h6>Location</h6>
         <br>
         <p>No :19, 29th St, Nanganallur, Chennai, Tamil Nadu 600061</p>
       <!--  <p>Get Direction</p>-->
      </div>
      <div class="col-md-6 box-2 cl2">
         <h6>Hour of Operation</h6>
         <br>
         <p>Open from 9AM to 5PM, Monday through Friday. 6 different programs are available for all age groups</p>
         <!-- <p>Visit Different Programs</p> -->
      </div>
   </div>
   <div class="content row text-center  ">
      <div class="col-md-3 mb-2">
         <img src="assets/images/tod1.png" class="todimg">
         <p class="tod-txt">Young Toddlers</p>
         <p class="tod-sub-txt">(12 months – 23 months)</p>
      </div>
      <div class="col-md-3 mb-2">
         <img src="assets/images/tod2.png" class="todimg">
         <p class="tod-txt">Toddlers</p>
         <p class="tod-sub-txt">(2 year old)</p>
      </div>
      <div class="col-md-3 mb-2">
         <img src="assets/images/tod3.png" class="todimg">
         <p class="tod-txt">Preschoolers</p>
         <p class="tod-sub-txt">(3 year old)</p>
      </div>
      <div class="col-md-3 mb-2">
         <img src="assets/images/tod4.png" class="todimg">
         <p class="tod-txt">Pre-K</p>
         <p class="tod-sub-txt">(Pre-K For All)</p>
      </div>
   </div>
   <hr class="border-cont">
   <div class="row text-center pt-5 ml-md-5">
      <div class="col-md-5 pl-md-5 cont-img1 zoom">
      </div>
      <div class="col-md-5  px-5">
         <p class="img-desc pt-5 text-lightblack">Welcome To The Most Secure Place !</p>
         <p class="text-lightblack pt-1">We pride ourselves on being able to provide a happy, safe and inclusive environment in which children aged two and a half to five years old are encouraged to explore their potential!</p>
         <button class="shedule-btn  ">Schedule a tour</button>
      </div>
      <div class="col-md-2"></div>
   </div>
   <div class="row text-center ml-md-5  flex-column-reverse flex-md-row">
      <div class="col-md-5 px-5">
         <p class="img-desc pt-5 text-lightblack">Why Kindergarten is the Best Start?</p>
         <p class="text-lightblack pt-1">‘Kindergarten’ means the children’s garden – a magical place for young minds bristling with excitement, full of imagination and possibility. Watch our video to discover how children learn through play.</p>
         <button class="shedule-btn  ">Visit Our Staff</button>
      </div>
      <div class="col-md-5 pl-md-5 cont-img2 zoom mb-3">
      </div>
      <div class="col-md-2"></div>
   </div>
   <hr class="border-cont">
   <div class="row cal-bg pt-5">
      <div class="col-md-12">
         <div class="row   px-5">
            <div class="col-md-12 my-5 text-center">
               <p class="img-desc text-light">Events Calendar</p>
            </div>
            <div class="col-md-1">
               <p class="date-txt">01</p>
            </div>
            <div class="col-md-2">
               <p class="month-text">January</p>
               <p class="month-text-sub">Tuesday</p>
            </div>
            <div class="col-md-2"><img src="assets/images/cal1.jpg" class="img-txt"></div>
            <div class="col-md-4">
               <p class="month-txt-large">
                  Day of Knowledge
               </p>
               <p class="month-text">New York</p>
               <p class="month-text-sub">January 1 - December 31</p>
            </div>
            <div class="col-md-3"><button class="read-more">Read More</button></div>
            <hr class="border-thin">
            <div class="col-md-1">
               <p class="date-txt">20</p>
            </div>
            <div class="col-md-2">
               <p class="month-text">January</p>
               <p class="month-text-sub">Sunday</p>
            </div>
            <div class="col-md-2"><img src="assets/images/cal2.jpg" class="img-txt"></div>
            <div class="col-md-4">
               <p class="month-txt-large">
                  Hello, Autumn!
               </p>
               <p class="month-text">New York</p>
               <p class="month-text-sub">January 1 - December 31</p>
            </div>
            <div class="col-md-3"><button class="read-more">Read More</button></div>
            <hr class="border-thin">
            <div class="col-md-1">
               <p class="date-txt">20</p>
            </div>
            <div class="col-md-2">
               <p class="month-text">January</p>
               <p class="month-text-sub">Sunday</p>
            </div>
            <div class="col-md-2"><img src="assets/images/cal3.jpg" class="img-txt"></div>
            <div class="col-md-4">
               <p class="month-txt-large">
                  Day of Love, Family and Fidelity
               </p>
               <p class="month-text">New York</p>
               <p class="month-text-sub">January 1 - December 31</p>
            </div>
            <div class="col-md-3"><button class="read-more mb-3">Read More</button></div>
         </div>
      </div>
   </div>
   <div class="row offer-tabs py-5">
      <div class="col-md-12 text-center img-desc py-5 text-lightblack">What We Offer</div>
      <div class="col-md-12 text-center tab-pull-right">
         <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
               <a class="nav-link active tab-txt" data-toggle="tab" href="#home">Commitments</a>
            </li>
            <li class="nav-item">
               <a class="nav-link tab-txt" data-toggle="tab" href="#menu1">Activities</a>
            </li>
            <li class="nav-item">
               <a class="nav-link tab-txt" data-toggle="tab" href="#menu2">Outing</a>
            </li>
            <li class="nav-item">
               <a class="nav-link tab-txt" data-toggle="tab" href="#menu3">Programs</a>
            </li>
            <li class="nav-item">
               <a class="nav-link tab-txt" data-toggle="tab" href="#menu4">Our Club</a>
            </li>
         </ul>
         <div class="tab-content bg-light">
            <div id="home" class=" tab-pane active  pl-5 text-left">
               <br>
               <hr class="border-short">
               <div class="row">
                  <div class="col-md-5">
                     <p class="nav-tab-head">The Commitment</p>
                     <p class="text-lightblack">
                        We provide a safe, nurturing and developmentally appropriate learning environment for children. We strive to appreciate and respect each child’s uniqueness in learning styles and his/her pace in intellectual & physical growth. Our Staff focuses on each child’s individual needs and promote his/her development through providing educational and age-appropriate programs.
                     </p>
                     <p class="learn-link">Learn More</p>
                  </div>
                  <div class="col-md-7">
                     <img src="assets/images/timg1.jpg" class="tab-img">
                  </div>
               </div>
            </div>
            <div id="menu1" class=" tab-pane fade  pl-5 text-left">
               <br>
               <hr class="border-short">
               <div class="row">
                  <div class="col-md-5">
                     <p class="nav-tab-head">
                        Activities
                     </p>
                     <p class="text-lightblack">
                        We provide a safe, nurturing and developmentally appropriate learning environment for children. We strive to appreciate and respect each child’s uniqueness in learning styles and his/her pace in intellectual & physical growth. Our Staff focuses on each child’s individual needs and promote his/her development through providing educational and age-appropriate programs.
                     </p>
                     <p class="learn-link">Learn More</p>
                  </div>
                  <div class="col-md-7">
                     <img src="assets/images/timg2.jpg" class="tab-img">
                  </div>
               </div>
            </div>
            <div id="menu2" class=" tab-pane fade  pl-5 text-left">
               <br>
               <hr class="border-short">
               <div class="row">
                  <div class="col-md-5">
                     <p class="nav-tab-head">
                        Outings
                     </p>
                     <p class="text-lightblack">
                        We provide a safe, nurturing and developmentally appropriate learning environment for children. We strive to appreciate and respect each child’s uniqueness in learning styles and his/her pace in intellectual & physical growth. Our Staff focuses on each child’s individual needs and promote his/her development through providing educational and age-appropriate programs.
                     </p>
                     <p class="learn-link">Learn More</p>
                  </div>
                  <div class="col-md-7">
                     <img src="assets/images/timg3.jpg" class="tab-img">
                  </div>
               </div>
            </div>
            <div id="menu3" class=" tab-pane fade  pl-5 text-left">
               <br>
               <hr class="border-short">
               <div class="row">
                  <div class="col-md-5">
                     <p class="nav-tab-head">
                        Programs
                     </p>
                     <p class="text-lightblack">
                        We provide a safe, nurturing and developmentally appropriate learning environment for children. We strive to appreciate and respect each child’s uniqueness in learning styles and his/her pace in intellectual & physical growth. Our Staff focuses on each child’s individual needs and promote his/her development through providing educational and age-appropriate programs.
                        The program is aimed at the mental and creative development of children – from junior groups to preparation for school.
                     </p>
                     <p class="learn-link">Learn More</p>
                  </div>
                  <div class="col-md-7">
                     <img src="assets/images/timg4.jpg" class="tab-img">
                  </div>
               </div>
            </div>
            <div id="menu4" class=" tab-pane fade  pl-5 text-left">
               <br>
               <hr class="border-short">
               <div class="row">
                  <div class="col-md-5">
                     <p class="nav-tab-head">
                        Our Club
                     </p>
                     <p class="text-lightblack">
                        We provide a safe, nurturing and developmentally appropriate learning environment for children. We strive to appreciate and respect each child’s uniqueness in learning styles and his/her pace in intellectual & physical growth. Our Staff focuses on each child’s individual needs and promote his/her development through providing educational and age-appropriate programs.
                        The program is aimed at the mental and creative development of children – from junior groups to preparation for school.
                     </p>
                     <p class="learn-link">Learn More</p>
                  </div>
                  <div class="col-md-7">
                     <img src="assets/images/timg5.jpg" class="tab-img">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <hr class="border-cont">
   <div class="row activity-wrp text-center">
      <div class="col-md-12 mb-4">
         <p   class="img-desc pt-5 text-lightblack text-center">Our Activities</p>
      </div>
      <div class="col-md-4 mb-3">
         <div class="row ">
            <div class="col-md-3 ">
               <i class="fa fa-paint-brush activity-icon"></i>
            </div>
            <div class="col-md-9 text-lightblack">
               <div class="act-txt text-md-left">Painting</div>
               <div class="act-txt-sub text-md-left ">Children learn to paint</div>
            </div>
         </div>
      </div>
      <div class="col-md-4 mb-5">
         <div class="row ">
            <div class="col-md-3 ">
               <img src = "assets/images/puppet.png" class="activity-icon">
            </div>
            <div class="col-md-9 text-lightblack">
               <div class="act-txt text-md-left">Puppet Centre</div>
               <div class="act-txt-sub text-md-left ">What you don’t have at home</div>
            </div>
         </div>
      </div>
      <div class="col-md-4 mb-5">
         <div class="row ">
            <div class="col-md-3 ">
               <i class="fa fa-futbol-o activity-icon"></i>
            </div>
            <div class="col-md-9 text-lightblack">
               <div class="act-txt text-md-left">Table/Floor Toys</div>
               <div class="act-txt-sub text-md-left ">What kind of toys your kid prefer?</div>
            </div>
         </div>
      </div>
      <div class="col-md-4 mb-5">
         <div class="row ">
            <div class="col-md-3 ">
               <img src = "assets/images/beetle.png" class="activity-icon">
            </div>
            <div class="col-md-9 text-lightblack">
               <div class="act-txt text-md-left">Special Projects</div>
               <div class="act-txt-sub text-md-left ">Our secret area education ways</div>
            </div>
         </div>
      </div>
      <div class="col-md-4 mb-5">
         <div class="row ">
            <div class="col-md-3 ">
               <img src = "assets/images/mike.png" class="activity-icon">
            </div>
            <div class="col-md-9 text-lightblack">
               <div class="act-txt text-md-left">Music & Singing</div>
               <div class="act-txt-sub text-md-left ">Everybody loves child’s singing</div>
            </div>
         </div>
      </div>
      <div class="col-md-4 mb-5">
         <div class="row ">
            <div class="col-md-3 ">
               <i class="fa fa-bell activity-icon"></i>
            </div>
            <div class="col-md-9 text-lightblack">
               <div class="act-txt text-md-left">Library Reading</div>
               <div class="act-txt-sub text-md-left ">How many stories our teacher knows?</div>
            </div>
         </div>
      </div>
      <div class="col-md-4 mb-5">
         <div class="row ">
            <div class="col-md-3 ">
               <img src = "assets/images/sandbox.png" class="activity-icon">
            </div>
            <div class="col-md-9 text-lightblack">
               <div class="act-txt text-md-left">Sand Play</div>
               <div class="act-txt-sub text-md-left ">All year round we enjoy sand</div>
            </div>
         </div>
      </div>
      <div class="col-md-4 mb-5">
         <div class="row ">
            <div class="col-md-3 ">
               <img src = "assets/images/icecream.png" class="activity-icon">
            </div>
            <div class="col-md-9 text-lightblack">
               <div class="act-txt text-md-left">Storytime</div>
               <div class="act-txt-sub text-md-left ">Where learning is a serious fun</div>
            </div>
         </div>
      </div>
      <div class="col-md-4 mb-5">
         <div class="row ">
            <div class="col-md-3 ">
               <img src = "assets/images/sun-umbrella.png" class="activity-icon">
            </div>
            <div class="col-md-9 text-lightblack">
               <div class="act-txt text-md-left">Water Play</div>
               <div class="act-txt-sub text-md-left ">Imagine various water activities</div>
            </div>
         </div>
      </div>
   </div>
   <hr class="border-cont">
   <div class="row  px-md-5 text-center">
      <div class="col-md-6 bg5 py-5  px-5">
         <div class="img-desc text-light pt-5">What Are The Facilities?</div>
         <p class="sub-txt">Infant classroom offers strategies for building positive relationships, helping children develop self-regulation and responding to challenging behaviors in a sanitized and safe environment.</p>
         <button class="learn-more">Learn More</button>
      </div>
      <div class="col-md-6 student_img">
      </div>
   </div>
   <div class="row   py-5 text-center">
      <div class="col-md-12 mb-4 ">
         <p  class="img-desc pt-5   text-lightblack text-center">About the Teachers</p>
         <div class="sub-txt-techer">We have an excellent teacher to child ratio at our Kindergarten to ensure that each child receives the attention he or she needs</div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3 teacher-wrp px-md-3">
         <div class="teachers-social"><i class="fa fa-twitter ts-icon"></i><i class="fa fa-facebook ts-icon"></i><i class="fa fa-google ts-icon"></i><i class="fa fa-youtube ts-icon"></i></div>
         <div  class="teacher-profile tch1" ><div class="bg-cont"></div></div>
         <div class="teacher-wrp-info">
            <div class="act-txt pt-1 text-lightblack">Alice Bohm</div>
            <div   class="act-txt-sub text-lightblack ">Senior Educator-Staff</div>
         </div>
      </div>
      <div class="col-md-3 teacher-wrp px-md-3">
         <div class="teachers-social"><i class="fa fa-twitter ts-icon"></i><i class="fa fa-facebook ts-icon"></i><i class="fa fa-google ts-icon"></i><i class="fa fa-youtube ts-icon"></i></div>
         <div  class="teacher-profile tch2" ><div class="bg-cont"></div></div>
         <div class="teacher-wrp-info">
            <div class="act-txt text-lightblack">Alice Bohm</div>
            <div   class="act-txt-sub text-lightblack ">Music Teacher-Staff</div>
         </div>
      </div>
      <div class="col-md-3 teacher-wrp px-md-3">
         <div class="teachers-social"><i class="fa fa-twitter ts-icon"></i><i class="fa fa-facebook ts-icon"></i><i class="fa fa-google ts-icon"></i><i class="fa fa-youtube ts-icon"></i></div>
         <div  class="teacher-profile tch3" ><div class="bg-cont"></div></div>
         <div class="teacher-wrp-info">
            <div class="act-txt text-lightblack">Max Turner</div>
            <div   class="act-txt-sub text-lightblack ">Art Teacher-Staff</div>
         </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-12 text-center py-5">
         <button class="v-more">View More</button>
      </div>
   </div>
   <div class="row text-center admission-wrp py-md-5">
      <div class="col-md-4"></div>
      <div class="col-md-4">
         <p   class="img-desc pt-5 mt-5 text-light">What About Admission ?</p>
         <p   class="month-text">Rolling! Kindergarten Tours Are Given Daily. Please Contact Us to Schedule an Appointment.</p>
         <button class="more-inf mt-3 mb-3">More Information</button>
      </div>
      <div class="col-md-4"></div>
   </div>
   <div class="row text-center px-5 py-3 count-wrap text-light">
      <div class="col-md-2"> </div>
      <div class="col-md-2 pt-5">
         <img src="assets/images/icon_01.png" class="count-img">
         <hr class="border-x-short">
         <div class="count-info">450</div>
         <p class="sub-txt-count">CHILDREN A YEAR</p>
      </div>
      <div class="col-md-2 pt-5">
         <img src="assets/images/icon_02.png" class="count-img">
         <hr class="border-x-short">
         <div class="count-info">68</div>
         <p class="sub-txt-count">QUALIFIED TEACHERS</p>
      </div>
      <div class="col-md-2 pt-5">
         <img src="assets/images/icon_03.png" class="count-img">
         <hr class="border-x-short">
         <div class="count-info">349</div>
         <p class="sub-txt-count">ACTIVITIES A YEAR</p>
      </div>
      <div class="col-md-2 pt-5">
         <img src="assets/images/icon_04.png" class="count-img">
         <hr class="border-x-short">
         <div class="count-info">12</div>
         <p class="sub-txt-count">FROM TWELVE MONTHS</p>
      </div>
      <div class="col-md-2"> </div>
   </div>
   <div class="row text-center pt-md-5 px-md-5">
      <div class="col-md-12">
         <p  class="img-desc py-4   text-lightblack text-center">From the Blog</p>
      </div>
      <div class="col-md-6 text-lightblack text-md-left pl-md-5">
         <img src="assets/images/ch4.jpg" class="blog_img">
         <div class="blog-txt1 py-2"><i class="fa fa-calendar"></i> January 6, 2018 <i class="fa fa-edit"></i>_cmsmasters</div>
         <div class="blog-txt2">Learn About Separation Tips</div>
         <div class="blog-txt1 pt-1 pb-2">Nursery, Psychology</div>
         <div class="blog-txt1 pt-2 pb-2">Separation Tips You and your child are about to have an amazing and fun journey with us, however, if this is your child's first school experience or...</div>
         <div class="lean-more-blog">Learn More</div>
      </div>
      <div class="col-md-6 text-lightblack text-md-left pr-md-5">
         <img src="assets/images/ch5.jpg" class="blog_img">
         <div class="blog-txt1 py-2"><i class="fa fa-calendar"></i> January 27, 2018<i class="fa fa-edit"></i>_cmsmasters</div>
         <div class="blog-txt2">Learn About Separation Tips</div>
         <div class="blog-txt1 pt-1 pb-2">Nursery, Psychology</div>
         <div class="blog-txt1 pt-2 pb-2">Separation Tips You and your child are about to have an amazing and fun journey with us, however, if this is your child's first school experience or...</div>
         <div class="lean-more-blog">Learn More</div>
      </div>
   </div>
   <hr class="border-cont">
   <div class="row text-center">
      <div class="col-md-12">
         <p   class="img-desc py-4   text-lightblack text-center">What Parents Say </p>
      </div>
   </div>
   <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
         <li data-target="#myCarousel" data-slide-to="0" class=""><i class="fa fa-circle indicator-ico" ></i></li>
         <li data-target="#myCarousel" data-slide-to="1" class="active"><i class="fa fa-circle indicator-ico" ></i></li>
         <li data-target="#myCarousel" data-slide-to="2" class=""><i class="fa fa-circle indicator-ico" ></i></li>
      </ol>
      <!-- Wrapper for carousel items -->
      <div class="carousel-inner">
         <div class="item carousel-item active left">
            <div class="img-box"><img src="assets/images/1.jpg" alt="" class="car-img"></div>
            <p class="testimonial">" We really like the kindergarten. A wonderful director. We are also very pleased with the teaching and educational part. Very cool that there is a swimming pool! Thank you very much! We wish you further development and prosperity!&nbsp;Many different activities, games, entertainment "</p>
            <p class="parent-txt text-lightblack">Olivia Smith</p>
            <p class="parent-inf">Mother</p>
         </div>
         <div class="item carousel-item next left">
            <div class="img-box"><img src="assets/images/2.jpg" class="car-img"  alt=""></div>
            <p class="testimonial">" We really like the kindergarten. A wonderful director. We are also very pleased with the teaching and educational part. Very cool that there is a swimming pool! Thank you very much! We wish you further development and prosperity!&nbsp;Many different activities, games, entertainment "</p>
            <p class="parent-txt text-lightblack">Hilary Paterson</p>
            <p class="parent-inf">Mother</p>
         </div>
         <div class="item carousel-item">
            <div class="img-box"><img src="assets/images/3.jpg" class="car-img" alt=""></div>
            <p class="testimonial">" We really like the kindergarten. A wonderful director. We are also very pleased with the teaching and educational part. Very cool that there is a swimming pool! Thank you very much! We wish you further development and prosperity!&nbsp;Many different activities, games, entertainment "</p>
            <p class="parent-txt text-lightblack">Amelia Wilson</p>
            <p class="parent-inf">Mother</p>
         </div>
      </div>
      <!-- Carousel controls -->
      <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
      <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
      <i class="fa fa-angle-right"></i>
      </a>
   </div>

   <app-footer></app-footer>
</div>
